<%= stylesheet_link_tag "posts/index" %>

<h1 class="main_title">Посты наших авторов</h1>

<%= render "posts/filter_main_page" %>

<ul class="block_posts_list">
  <% @posts.each do |post| %>
    <li class="row_post">
      <div class="content_post">
        <%= link_to post.title, show_posts_path(id: post.id) %>
        <p>Отрывок статьи: <br> <%= post.text[0..150] %></p>
      </div>  
    </li>
  <% end %>
</ul>

<%= render "common/pagination", locals: { posts: @posts, next_page: @next_page, prev_page: @prev_page } %>
