<% if @post.blank? %>
  <h1>Редактирование поста</h1>
<% else %>
  <h1>Создание поста</h1>
<% end %>

<%= form_for @post do |f| %>
  <% if @post[:image].present? %>
    <%= link_to @post.image do %>
      <%= image_tag @post.image %>
    <% end %>
  <% end %>
  <%= f.file_field :image %>
  <%= f.text_field :title, value: @post[:title]  %>
  <%= f.text_area :text, value: @post[:text]  %>
  <%= f.submit "Test" %>
<% end %>
