<h1>Другие авторы</h1>

<% @authors.each do |author| %>
    <p><%= author.email %></p>
    <p>Постов: <%= author.posts.count %></p>
    <p>Просмотров: <%= author.sum_views %></p>
    <p>Лайков: <%= author.sum_likes %></p>
    <p><%= link_to "Профиль автора", profile_path(author.id) %></p>
<% end %>
