<%= stylesheet_link_tag "navbar" %>
<nav>
  <ul class="nav_ul">
    <li class="nav_li"><%= link_to "Главная", posts_path %></li>
    <li class="nav_li"><%= link_to "Контакты", info_contact_path %></li>
    <li class="nav_li"><%= link_to "О проекте", info_about_path %></li>
    <% if current_user.present? && user_signed_in? %>
      <li class="nav_li"><%= link_to "Новый пост", new_post_path %></li>
      <li class="nav_li"><%= link_to "Другие авторы", profile_index_path %></li>
      <li class="nav_li"><%= link_to "Профиль", profile_path(current_user.id) %></li>
      <li class="nav_li"><%= link_to "Выйти", destroy_user_session_path, data: { turbo_method: :delete } %></li>
    <% else %>
      <li class="nav_li">
        <div class="no_auth">
          <%= link_to "Регистрация", new_user_registration_path, method: :get %>
          || <%= link_to "Войти", new_user_session_path, method: :get %>
        </div>
      </li>
    <% end %>
  </ul>
</nav>
